.formContainer {
  min-height: 100vh;
}

.form {
  margin: 0 auto !important;
  max-width: 400px;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1.5rem !important;
}

.formContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.submitButton {
  margin-top: 2rem;
}

.locked {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
